.HOVERCLR1:hover{background-color: white;}

.HOVERCLR_2:hover{background-color: rgba(254, 199, 1, 0.98);
/* color: rgba(254, 199, 1, 0.98); */
border:none;}

.butt{position: absolute;
margin: 10%;}

.mycol1::before{content: "";
    background-color:white; 
height: 1%;justify-content:flex-end;
width:1%;
position: absolute;
left:55%;opacity: 0.5;
margin-top: 32%;
right: 0%;
position: center;
/* padding-bottom: 1px; */
border-radius: 50%;
}
.mycol1{position: relative;}

.mycol1:hover::before{position:absolute;
    background-color:white;
    /* height: 100%;width: 100%; */
    content: "";
    /* height:/ 1%; */
    /* width: 1%; */
    border-radius:0%;
    padding: right 1px;
transition: 0.3s all ;
color: black;position: absolute;
transform:scale(108)}

.mycol1 h1{position: absolute; margin-top: -30%;display: none;}
/* h1:hover{display: block;background-color: blue;} */